<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Restaurant Catalogue For You">
  <meta name="theme-color" content="#FA5252"/>
  <link rel="apple-touch-icon" href="/icons/icon-96.png">
  <link rel="icon" href="./favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="manifest" href="./app.webmanifest">

  <title>Foodies Bar</title>
</head>
<body>
<a href="#main-content" class="skip-link">Menuju ke konten</a>
<header class="header-outter">
  <div class="header">
    <div class="header-inner">
      <h1 class="header-title">
        Foodies Bar
      </h1>
    </div>
    <a id="menu" class="header-menu" href="#" aria-label="navigation-menu">☰</a>
  </div>

  <nav id="drawer" class="nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="#/home">Home</a></li>
      <li class="nav-item"><a href="#/favorite">Favorite</a></li>
      <li class="nav-item"><a href="https://github.com/fiindah" target="_blank" rel="noopener noreferrer">About Us</a></li>
    </ul>
  </nav>
</header>
<!-- Jumbotron-->
<hero-element class="hero"></hero-element> 
  <!-- Main Content -->
<main id="main-content" tabindex="0"></main>

<footer>
  <p>Copyright © 2023 - Foodies Bar | By Endahfn</p>
</footer>
</body>
</html>
