* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 12px;
  color: #424242;
}

a {
  display: inline-block;
  min-height: 44px;
  min-width: 44px;
}

/*
* Header
*/
.skip-link {
  position: absolute;
  top: -44px;
  left: 0;
  background-color: hsl(356, 100%, 66%);
  color: white;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

/*
 * Header Mobile
 */

.header {
  min-height: 44px;
  transition: min-height 0.3s;
}

.header-inner {
  width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  font-size: 24px;
  margin: 0.5em 0.25em;
  color: hsl(356, 100%, 66%);
  margin-left: 5%;
  cursor: pointer;
}

.header-menu {
  font-size: 32px;
  text-decoration: none;
  color: hsl(356, 100%, 66%);
  margin-right: 5%;
}


/*
 * Top level navigation
*/

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  box-sizing: border-box;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;
}

.nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: hsl(356, 100%, 66%);
}

.nav a:hover {
  text-decoration: underline;
  transition: 0.6s opacity;
  color: hsl(355, 100%, 74%);
}


/*
 * Jumbotron
 */

.hero {
  display: flex;
  align-items: center;
  min-height: 500px;
  width: 100%;
  text-align: center;
  background-image: 
   linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)),
   url("../public/hero-image.jpg");
  background-position: center;
  background-color: gray;
}

.hero-inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero-title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 36px;
}

.hero-tag {
  color: hsl(0, 0%, 100%);
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
}

/*
 * main
 */

 main {
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

.content {
  padding: 32px;
}
/*
 * latest
 */

.latest {
  width: 100%;
  margin: 25px auto;
  text-align: center;
}

.latest-label {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid hsl(356, 100%, 66%);
  color: hsl(356, 100%, 66%);
}

.latest-label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.posts {
  margin: 32px auto auto;
  text-align: left;
}
/*
 * post item
 */

.post-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.post-content {
  padding: 18px;
}

.post-item {
  width: 100%;
  height: 55%;
  object-fit: cover;
}
.post-item-content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  text-decoration: none;
  list-style: none;
}

.post-item-content .city {
  font-size: 14px;
  color: inherit;
}

.post-item-content .rating {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  text-align: right;
}

.post-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 12px;
  transition: 0.6s opacity;
}

.post-title:hover {
  opacity: 0.6;
}

.post-title a {
  text-decoration: none;
  color: hsl(356, 100%, 66%);
  
}

.post-description {
  font-size: 14px;
  line-height: 1.5em;
}

/*
  Detail Resto
*/

.detail {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.detail .detail__poster {
  width: 100%;
  max-width: 800px;
  max-height: 600px;

}
.detail__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail .detail__info h4 {
  margin: 8px 0;
}

/*
 * footer
 */

 footer {
  background-color: hsl(356, 100%, 66%);
  padding: 2em;
  width: 100%;
  text-align: center;
  align-items: center;
}

footer ul {
  margin: 0 auto;
  display: inline-block;
}

footer li {
  display: inline-block;
  margin: 0 1em;
  font-size: 14px;
}

footer p {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 16px;
}

footer p:hover {
  transition: ease 0.4s;
  opacity: 0.8;
}